/* HEADER */
@media (max-width:970px) {
    .section ul{
        column-gap: 1rem;
    }  
}
@media (max-width:730px){
    .section,.div{
        display: none;
    }
    .scmenu{
        display: block;
    }
}
/* HEADER */

/* HAQQIMIZDA */
@media (max-width:575px){
    .haqqimizda h2{
        font-weight: 400;
font-size: 40px;
line-height: 56px;
    }
    .haqqimizda p{
        font-weight: 400;
font-size: 15px;
line-height: 26px;
    }
}

/*  */
/* asagi surusdur button */

@media (max-width:510px){

.asagisurusdur .container{
    display: flex;
    flex-direction: column;   
}
.asagisurusdur img:last-child{
    display: block;
    order: 1;
}
.asagisurusdur p{
    order: 2;
    padding-top: 20px;
}
.asagisurusdur img:first-child{
    display: none;
}
}
/*  */
@media (max-width:768px){
    .sturuktur .container{
        flex-direction: column;
    }
    .sturuktur .container .line{
        width: 100px;
    }
    .sturuktur .container p{
        font-weight: 400;
font-size: 40px;
line-height: 56px;
text-align: center;
    }
}
/*  */
/* section 1 */
@media (max-width:768px){
    section .container{
        flex-direction: column;
        padding-top: 30px;
    }
    section .container .left_sec{
        width: max-content;
        text-align: center;
        order: 2;
        
    }
    .right_sec{
        order: 1;
        padding-left: 10px;
    }

}
@media (max-width:568px){
    .left_sec img{
        width: 270px;
        height: 350px;
        
    }
    .blok .paragraf{
        font-size: 14px;
    }
    .blok .bold{
        font-size: 14px;
    }
}
@media (max-width:360px){

}
/* section 2 */
@media (max-width:768px){
    .section2 .container{
        flex-direction: column;
        padding-top: 30px;
    }
    .section2 .container .right_cont{
        width: max-content;
        text-align: center;
        order: 2;
        
    }
    .right_sec{
        padding-left: 10px;
    }

}




